@import url('https://fonts.googleapis.com/css2?family=Arimo&display=swap');

$background-navbar: #27282c;
$background: #313237;
$background-sidebar: #2A2B30;
$background-input: #222828;
$border-color: #303136;
$button-gray-background: #393A3F;
$light-gray: #a1a1a1;
$icon-color: #1F243D;
$green: #49a58b;
$blue: #3674e0;
$red: #f58686;
$yellow: #d7ba5a;
$orange: #d78e5a;
$pink: #d58ce0;

* {
  font-family: 'Arimo', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  height: 100%;
  background-color: $background !important;
}

input {
  background-color: $background-input;
  border: none;

  border-radius: 0.5rem;
}

.navbar {
  background-color: $background-navbar !important;

  border-bottom: 1px solid $border-color;

  a {
    color: white !important;
  }
}

.sidebar {
  background-color: $background-sidebar;
  border-right: 1px solid $border-color;
  height: 100%;

  .sidebar-item {
    border-radius: 0.5rem;
    transition: background-color 300ms ease-in;

    a, i {
      color: white;
    }

    &:hover {
      background-color: $green;
    }

  }

  .active-sidebar {
    background-color: $green;
  }

}

.size-2 {
  font-size: 1.3rem;
}

.title {
  color: white;
  font-weight: bold;
}

.label {
  color: $light-gray;
}

.selected-wallet {
  background-color: $button-gray-background;
  color: $light-gray;
  padding: 0.2rem 0.4rem;
  border-radius: 0.5rem;

  transition: background-color 200ms ease-in;

  &:hover {
    background-color: lighten($button-gray-background, 8%);
    cursor: pointer;
  }
}

.button-dropdown {
  background-color: $button-gray-background;
  color: $light-gray;
  border: none;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  transition: background-color 200ms ease-in;

  &:hover {
    background-color: lighten($button-gray-background, 10%);
  }
}

.button-primary {
  background-color: $green;
  color: white;
  border: none;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  transition: background-color 200ms ease-in;

  &:hover {
    background-color: darken($green, 8%);
  }
}

.button-secondary {
  background-color: $blue;
  color: white;
  border: none;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  transition: background-color 200ms ease-in;

  &:hover {
    background-color: darken($blue, 8%);
  }
}

.button-outline-secondary {
  color: $light-gray;
  border: 1px solid $light-gray;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  transition: color 200ms ease-in, border-color 200ms ease-in;

  &:hover {
    color: $blue;
    border-color: $blue;
    cursor: pointer;
  }
}


.button-danger {
  background-color: $red;
  color: white;
  border: none;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  transition: background-color 200ms ease-in;

  &:hover {
    background-color: darken($red, 8%);
  }
}

.button-orange {
  background-color: $orange;
  color: white;
  border: none;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  transition: background-color 200ms ease-in;

  &:hover {
    background-color: darken($orange, 8%);
  }
}

.button-pink {
  background-color: $pink;
  color: white;
  border: none;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  transition: background-color 200ms ease-in;

  &:hover {
    background-color: darken($pink, 8%);
  }
}

.button-outline-cancel {
  color: $light-gray;
  background-color: $background;
  border: 2px solid $light-gray;
  border-radius: 0.5rem;
  padding: 0.25rem 1rem;
  font-size: 1rem;
  transition: border-color 200ms ease-in, color 200ms ease-in;

  &:hover {
    border-color: $red;
    color: $red;
  }
}

.button-outline-primary {
  color: $green;
  background-color: $background-sidebar;
  border: 2px solid $green;
  border-radius: 0.5rem;
  padding: 0.25rem 1rem;
  font-size: 1rem;
  transition: background-color 200ms ease-in, color 200ms ease-in;

  &:hover {
    background-color: $green;
    color: white;
  }
}

.input {
  background-color: $button-gray-background;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;

  color: $light-gray;

  &:focus {
    outline: darken($border-color, 10%);
  }

  &::placeholder {
    color: $light-gray;
    opacity: 0.3;
  }
}

.wallet {
  border-radius: 0.5rem;
  background-color: $background-sidebar;
  transition: transform 200ms ease-in;
  min-width: 20rem;
  max-width: 20rem;
  &:hover {
    transform: scale(1.02);
  }

  .name {
    color: white;
    font-weight: bold;
  }

  .balance {

    color: white;

    &:hover {
      cursor: pointer;
    }
  }

  .address {
    overflow-x: hidden;
    color: white;
  }


  .icon-color-delete {
    color: $light-gray;
    transition: color 200ms ease-in;

    &:hover {
      color: $red;
      cursor: pointer;
    }
  }

  .icon-color-unlock {
    color: $light-gray;
    transition: color 200ms ease-in;

    &:hover {
      color: $yellow;
      cursor: pointer;
    }
  }

}

.modal-content {
  background-color: $background;

  .modal-header {
    border-bottom: none;
  }

  .modal-footer {
    border-top: none;
  }
}

hr {
  color: $light-gray;
}

.toast-success {
  background-color: $background-sidebar;
  color: $green;

  i {
    color: $light-gray;
    transition: color 200ms ease-in;

    &:hover {
      color: $red;
      cursor: pointer;
    }
  }
}

.toast-error {
  background-color: $background-sidebar;
  color: $red;

  i {
    color: $light-gray;
    transition: color 200ms ease-in;

    &:hover {
      color: $red;
      cursor: pointer;
    }
  }
}

.toast-warning {
  background-color: $background-sidebar;
  color: $yellow;

  i {
    color: $light-gray;
    transition: color 200ms ease-in;

    &:hover {
      color: $red;
      cursor: pointer;
    }
  }
}

.dropdown-menu {
  background-color: $button-gray-background;
  max-height: 20rem;
  overflow-y: auto;

  .dropdown-item {
    cursor: pointer;

    color: $light-gray;

    &:hover {
      background-color: lighten($button-gray-background, 5%);
    }

  }
}

.loading-icon {
  animation: rotation 2s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.group {
  background-color: $background-sidebar;
  border: 2px solid $background-sidebar;
  border-radius: 0.5rem;
  min-width: 10rem;
  max-width: 10rem;
  min-height: 5rem;
}

.group-title {
  color: white;
  border: 2px solid $green;
  padding: 0.5rem 0.5rem;
  border-radius: 0.5rem;
  min-width: 8rem;
  text-align: center;
}

.create-group {
  background-color: $background-sidebar;
  border: 2px solid $background-sidebar;
  border-radius: 0.5rem;
  color: $light-gray;
  min-height: 5rem;
  transition: color 200ms ease-in;

  &:hover {
    color: $green;
    cursor: pointer;
  }

}

.task {
  background-color: $background-sidebar;
  border-radius: 0.5rem;
  padding: 1rem 1rem;
  filter: drop-shadow(0 0.2rem 0.25rem rgba(42, 42, 42, 0.2));
  //border: 1px solid darken($light-gray, 35%);

  .actions {
    background-color: $button-gray-background;
    border-radius: 0.5rem;
  }
}

.task-selected {
  border: 1px solid $pink;
}

.icon-red {
  color: $red;
}

.icon-green {
  color: $green;
}

.start-icon {
  transition: color 200ms ease-in;

  &:hover {
    color: $green;
    cursor: pointer;
  }
}

.edit-icon {
  transition: color 200ms ease-in;

  &:hover {
    color: $blue;
    cursor: pointer;
  }
}

.stop-icon {
  transition: color 200ms ease-in;

  &:hover {
    color: $yellow;
    cursor: pointer;
  }
}

.delete-icon {
  transition: color 200ms ease-in;

  &:hover {
    color: $red;
    cursor: pointer;
  }
}

.pink-icon {
  transition: color 200ms ease-in;

  &:hover {
    color: $pink;
    cursor: pointer;
  }
}

.icon-color {
  color: $light-gray;
}

.pk-icons {
  background-color: $button-gray-background;
  border-radius: 0.5rem;

  i:hover {
    cursor: pointer;
  }
}

.delete-group-icon {
  color: $light-gray;
  transition: color 200ms ease-in;

  &:hover {
    color: $red;
    cursor: pointer;
  }
}

.nav-logo {
  height: 5rem;
  width: 5rem;
}

.q-a {
  color: $light-gray;

  a {
    color: $green;
    text-decoration: none;
  }

  p {
    padding: 0;
    margin-left: 0.5rem;
    margin-top: 0;
    margin-bottom: 0;
  }
}

.info-section {
  background-color: $background-sidebar;
  padding: 2rem 2rem;
  border-radius: 0.5rem;
}

.nft {

  position: relative;
  background-color: $background-sidebar;
  border-color: $background-sidebar;
  border-radius: 0.5rem;

  min-width: 15rem;
  max-width: 15rem;

  min-height: 20rem;
  max-height: 20rem;

  .nft-image {
    max-height: 12rem;
  }

  img {
    object-fit: cover;
  }

  .links {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
  }

}

.nft-selected {
  border: 2px solid;
  border-color: $green !important;
}

.success-transaction {
  color: $green;
  text-decoration: none;
  transition: color 200ms ease-in;

  &:hover {
    cursor: pointer;
    color: darken($green, 10%);
  }
}

.nav-info {
  background-color: $background;
  padding: 0.3rem 0.3rem;
  border-radius: 0.3rem;
}

.nav-eth-info {
  color: $light-gray;
  font-size: 0.9rem;
}

.nav-eth-separator {
  color: $light-gray;
}

.warning-banner {
  background-color: $background-sidebar;
  border: 1px solid $yellow;
  padding: 1rem 1rem;
  color: $yellow;
  border-radius: 0.5rem;
}

.total-balance {
  span {
    color: white;
    font-weight: bold;
  }

  .dollar-value {
    color: $light-gray;
    font-size: 0.85rem;
  }
}

.nft-watchlist-status {
  color: $light-gray;

  .pending {
    background-color: $yellow;
    padding: 4px 4px;
    border-radius: 180px;
  }

  .offline {
    background-color: $red;
    padding: 4px 4px;
    border-radius: 180px;
  }

  .live {
    background-color: $green;
    padding: 4px 4px;
    animation: pulse 2s infinite;
    border-radius: 180px;
  }

  @keyframes pulse {
    0% {
      -webkit-box-shadow: 0 0 0 0 rgba(73, 165, 139, 0);
    }

    10% {
      -webkit-box-shadow: 0 0 0 3px rgba(73, 165, 139, 0.05);
    }

    20% {
      -webkit-box-shadow: 0 0 0 3px rgba(73, 165, 139, 0.1);
    }

    30% {
      -webkit-box-shadow: 0 0 0 3px rgba(73, 165, 139, 0.15);
    }

    40% {
      -webkit-box-shadow: 0 0 0 3px rgba(73, 165, 139, 0.2);
    }

    50% {
      -webkit-box-shadow: 0 0 0 3px rgba(73, 165, 139, 0.25);
    }


    60% {
      -webkit-box-shadow: 0 0 0 3px rgba(73, 165, 139, 0.3);
    }


    70% {
      -webkit-box-shadow: 0 0 0 3px rgba(73, 165, 139, 0.25);
    }


    80% {
      -webkit-box-shadow: 0 0 0 3px rgba(73, 165, 139, 0.20);
    }


    90% {
      -webkit-box-shadow: 0 0 0 3px rgba(73, 165, 139, 0.15);
    }


    100% {
      -webkit-box-shadow: 0 0 0 3px rgba(73, 165, 139, 0.1);
    }

  }
}

.pnl-section {
  background-color: $background-sidebar;
  padding: 2rem 2rem;
  border-radius: 0.5rem;

  .pnl-header {

    .contract {
      font-size: 1.15rem;
      color: white;
    }

    .mint-cost, .gas-cost, .total-sales {
      font-size: 0.95rem;
      color: $light-gray !important;
      span, i {
        color: white;
      }
    }

    a {
      cursor: pointer;
      text-decoration: none;
    }

  }

  .pnl-token {
    .token-id, .price, .gas {
      color: $light-gray;
    }

    .sold {
      color: $green;
    }

    .bought {
      color: $red;
    }

    .price, .gas, .sold, .bought {
      span, i {
        color: white;
      }
    }
  }
}

.pnl-global {

  .global-info {
    background-color: $background-sidebar;
    padding: 0.5rem 0.5rem;
    border-radius: 0.3rem;

    .value {
      color: white;
      font-weight: bold;
      font-size: 1.2rem;

      i {
        color: $light-gray;
      }
    }

    .name {
      color: $light-gray;
      font-size: 0.9rem;
    }

    .up-arrow {
      color: $green;
    }

    .down-arrow {
      color: $red;
    }

    .red {
      color: $red !important;
    }

    .green {
      color: $green !important;
    }

  }

}

.listing-pill {
  border-radius: 0.5rem;
  background-color: $background;
}