@import url('https://fonts.googleapis.com/css2?family=Arimo&display=swap');

$background: #313237;
$background-sidebar: #2A2B30;
$background-input: #222828;
$border-color: #303136;
$button-gray-background: #393A3F;
$light-gray: #a1a1a1;
$icon-color: #1F243D;
$green: #49a58b;
$blue: #3674e0;
$red: #f58686;
$yellow: #d7ba5a;

* {
  font-family: 'Arimo', sans-serif;
}

body {
  background-color: $background !important;
}

input {
  background-color: $background-input;
  border: none;

  border-radius: 0.5rem;
}

.navbar {
  background-color: $background-input !important;

  border-bottom: 1px solid $border-color;

  a {
    color: white !important;
  }
}

.sidebar {
  background-color: $background-sidebar;
  border-right: 1px solid $border-color;

  .sidebar-item {
    border-radius: 0.5rem;
    transition: background-color 300ms ease-in;

    a, i {
      color: white;
    }

    &:hover {
      background-color: $green;
    }

  }

  .active-sidebar {
    background-color: $green;
  }

}

.size-2 {
  font-size: 1.3rem;
}

.title {
  color: white;
  font-weight: bold;
}

.label {
  color: $light-gray;
}

.selected-wallet {
  background-color: $button-gray-background;
  color: $light-gray;
  padding: 0.2rem 0.4rem;
  border-radius: 0.5rem;
}

.button-dropdown {
  background-color: $button-gray-background;
  color: $light-gray;
  border: none;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  transition: background-color 200ms ease-in;

  &:hover {
    background-color: lighten($button-gray-background, 10%);
  }
}

.button-primary {
  background-color: $green;
  color: white;
  border: none;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  transition: background-color 200ms ease-in;

  &:hover {
    background-color: darken($green, 8%);
  }
}

.button-secondary {
  background-color: $blue;
  color: white;
  border: none;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  transition: background-color 200ms ease-in;

  &:hover {
    background-color: darken($blue, 8%);
  }
}

.button-outline-cancel {
  color: $light-gray;
  background-color: $background;
  border: 2px solid $light-gray;
  border-radius: 0.5rem;
  padding: 0.25rem 1rem;
  font-size: 1rem;
  transition: border-color 200ms ease-in, color 200ms ease-in;

  &:hover {
    border-color: $red;
    color: $red;
  }
}

.button-outline-primary {
  color: $green;
  background-color: $background-sidebar;
  border: 2px solid $green;
  border-radius: 0.5rem;
  padding: 0.25rem 1rem;
  font-size: 1rem;
  transition: background-color 200ms ease-in, color 200ms ease-in;

  &:hover {
    background-color: $green;
    color: white;
  }
}

.input {
  background-color: $button-gray-background;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;

  color: $light-gray;

  &:focus {
    outline: darken($border-color, 10%);
  }

  &::placeholder {
    color: $light-gray;
    opacity: 0.3;
  }
}

.wallet {
  border-radius: 0.5rem;
  background-color: $background-sidebar;
  transition: transform 200ms ease-in;
  min-width: 20rem;
  max-width: 20rem;
  &:hover {
    transform: scale(1.02);
  }

  .name {
    color: white;
    font-weight: bold;
  }

  .balance {
    color: white;
  }

  .address {
    overflow-x: hidden;
    color: white;
  }

  .icon-color {
    color: $light-gray;
  }

  .icon-color-delete {
    color: $light-gray;
    transition: color 200ms ease-in;

    &:hover {
      color: $red;
      cursor: pointer;
    }
  }

  .icon-color-unlock {
    color: $light-gray;
    transition: color 200ms ease-in;

    &:hover {
      color: $yellow;
      cursor: pointer;
    }
  }

}

.modal-content {
  background-color: $background;

  .modal-header {
    border-bottom: none;
  }

  .modal-footer {
    border-top: none;
  }
}

hr {
  color: $light-gray;
}

.toast-success {
  background-color: $background-sidebar;
  color: $green;

  i {
    color: $light-gray;
    transition: color 200ms ease-in;

    &:hover {
      color: $red;
      cursor: pointer;
    }
  }
}

.toast-error {
  background-color: $background-sidebar;
  color: $red;

  i {
    color: $light-gray;
    transition: color 200ms ease-in;

    &:hover {
      color: $red;
      cursor: pointer;
    }
  }
}

.dropdown-menu {
  background-color: $button-gray-background;
  max-height: 20rem;
  overflow-y: auto;

  .dropdown-item {
    cursor: pointer;

    color: $light-gray;

    &:hover {
      background-color: lighten($button-gray-background, 5%);
    }

  }
}

.loading-icon {
  animation: rotation 2s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.group {
  background-color: $background-sidebar;
  border: 2px solid $background-sidebar;
  border-radius: 0.5rem;
  min-width: 10rem;
  max-width: 10rem;
  min-height: 5rem;
  max-height: 5rem;

  i {
    color: $light-gray;
    transition: color 200ms ease-in;

    &:hover {
      color: $green;
      cursor: pointer;
    }
  }
}

.group-title {
  color: white;
  border: 2px solid $green;
  padding: 0.5rem 0.5rem;
  border-radius: 0.5rem;
  min-width: 8rem;
  text-align: center;
}

.create-group {
  background-color: $background-sidebar;
  border: 2px solid $background-sidebar;
  border-radius: 0.5rem;
  color: $light-gray;
  min-height: 5rem;
  max-height: 5rem;
  transition: color 200ms ease-in;


  &:hover {
    color: $green;
    cursor: pointer;
  }

}

.task {
  background-color: $background-sidebar;
  border-radius: 0.5rem;
  padding: 1rem 1rem;
  //filter: drop-shadow(0 0.2rem 0.25rem rgba(150, 150, 150, 0.2));
  border: 1px solid darken($light-gray, 35%);

  .actions {
    background-color: $button-gray-background;
    border-radius: 0.5rem;
  }
}

.icon-red {
  color: $red;
}

.icon-green {
  color: $green;
}